<app-header></app-header>
<div class="container">
  <div class="confirmation-container">
    <h1>Xác nhận đơn hàng</h1>
    <p>Cảm ơn bạn đã đặt hàng! Dưới đây là thông tin chi tiết về đơn hàng của bạn</p>



  <div class="row">
    <table>
      <thead>
        <tr>
          <th scope="col" class="text-start">San pham</th>
          <th scope="col" >So luong</th>
          <th scope="col">Don gia</th>
          <th scope="col">Tong gia</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://images.pexels.com/photos/19927934/pexels-photo-19927934/free-photo-of-building-corner-by-street.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load"
                alt="Product Image"
                class="product-image"
              >
              <span class="product-name">Iphone 13</span>
            </div>
          </td>
          <td>2</td>
          <td>100,000</td>
          <td>200,000</td>
        </tr>
      </tbody>

    </table>
    <div class="text-center mt-3">
      <button class="btn btn-gradient" type="button">Tiếp tục mua sắm</button>
    </div>
</div>
<app-footer></app-footer>


