<style>
  .intro-section{
    text-align: center;
    color: white;
    padding: 20px;
  }
  .search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .product-category{
    width: 200px;
  }
  .search-input{
    width: 300px;
    background-color: rgb(19,23,42);
    margin-right: 10px;
    border-color: rgba(255,255,255,0.5);
    color: white;
  }
  .form-control{
    background-color: transparent;
    color: white;
  }
  .form-control::placeholder{
    color: rgba(255,255,255,0.5);
    opacity: 1;
  }

  .form-control:-ms-input-placeholder{
    color: rgba(255,255,255,0.5);
  }
  .form-control::-ms-input-placeholder{
    color: rgba(255,255,255,0.5);
  }
  .product-item{
    background-color: rgb(19,23,42);
    border: 1px solid rgb(35,39,61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .product-image{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .product-name{
    color: white;
  }
  .product-description{
    color: rgb(173,178,203);
  }
  .product-warrantly{
    color: rgb(242,126,212);
  }
  .product-price{
    color: white;
  }
  .product-rating{
    color: #FFD700;
    margin-top: 10px;
  }
  .product-actions{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .space{
    margin: 0 5px;

  }
</style>
<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Day la trang homeas</h1>
    <p>ffff</p>
  </div>
<!--    search box ben trai, combobox ben phai-->
  <div class="search-box">
    <input type="text" class="form-control search-input" placeholder="Tim san pham">
    <select class="form-control product-category">
      <option selected disabled>Danh Muc San Pham</option>
      <option>Do dien tu</option>
      <option>Hai san</option>
      <option>Banh keo</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/19090945/pexels-photo-19090945/free-photo-of-coffee-machine-on-counter-at-cafe.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
        alt="Product Image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description"></p>
        <p class="product-warrantly">Bao hanh 12 thang</p>
        <p class="product-price">Gia: <del>$200</del> $108</p>

        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>

      <div class="product-actions">
        <button class="btn btn-primary">Them vao gio hang</button>
        <span class="space"></span>
        <button class="btn btn-success">Mua ngay</button>
      </div>
    </div>



    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/19090945/pexels-photo-19090945/free-photo-of-coffee-machine-on-counter-at-cafe.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
             alt="Product Image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description"></p>
        <p class="product-warrantly">Bao hanh 12 thang</p>
        <p class="product-price">Gia: <del>$200</del> $108</p>

        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>

      <div class="product-actions">
        <button class="btn btn-primary">Them vao gio hang</button>
        <span class="space"></span>
        <button class="btn btn-success">Mua ngay</button>
      </div>
    </div>



    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/19090945/pexels-photo-19090945/free-photo-of-coffee-machine-on-counter-at-cafe.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
             alt="Product Image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description"></p>
        <p class="product-warrantly">Bao hanh 12 thang</p>
        <p class="product-price">Gia: <del>$200</del> $108</p>

        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>

      <div class="product-actions">
        <button class="btn btn-primary">Them vao gio hang</button>
        <span class="space"></span>
        <button class="btn btn-success">Mua ngay</button>
      </div>
    </div>




    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/19090945/pexels-photo-19090945/free-photo-of-coffee-machine-on-counter-at-cafe.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
             alt="Product Image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description"></p>
        <p class="product-warrantly">Bao hanh 12 thang</p>
        <p class="product-price">Gia: <del>$200</del> $108</p>

        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>

      <div class="product-actions">
        <button class="btn btn-primary">Them vao gio hang</button>
        <span class="space"></span>
        <button class="btn btn-success">Mua ngay</button>
      </div>
    </div>




    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="https://images.pexels.com/photos/19090945/pexels-photo-19090945/free-photo-of-coffee-machine-on-counter-at-cafe.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
             alt="Product Image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description"></p>
        <p class="product-warrantly">Bao hanh 12 thang</p>
        <p class="product-price">Gia: <del>$200</del> $108</p>

        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
      </div>

      <div class="product-actions">
        <button class="btn btn-primary">Them vao gio hang</button>
        <span class="space"></span>
        <button class="btn btn-success">Mua ngay</button>
      </div>
    </div>



  </div>
</div>
<app-footer></app-footer>
